.cont_contactMe {
    width: 157px;

    font-weight: bold;
    z-index: 10;
    position: fixed;
    left: 0;
    bottom: 100px;
}

.left_icon_bar {
    z-index: -10;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #14213d;
    position: absolute;
    top: 92%;
    left: 30%;
    color: white;
    font-weight: bolder;
    height: 60px;
    width: 60px;
    align-items: center;
    justify-content: justify;
    display: flex;
    text-shadow: #31dce5 1px 0 10px;
}

.left_icon_bar p {
    font-size: 1rem;
    text-decoration: underline #11fcfc;
    text-align: justify;
    align-items: justify;
    z-index: 10;
}

.left_icon_bar p:hover {
    scale: 1.02;
}