
.myContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
 
/* Default styling for larger screens */
.myImg {
 
  border-radius: 5px;
  width: 20vw;
  height: 100vh;
  object-fit: cover;
  border: 1px solid white;
}

/* Media query for medium screens */
@media (max-width: 768px) {
  .myImg {
    width: 100%; /* Use 100% width on medium screens */
    height: auto; /* Maintain aspect ratio */
  }
}

/* Media query for small screens */
@media (max-width: 576px) {
  .myImg {
    width: 100%; /* Use 100% width on small screens */
    height: auto; /* Maintain aspect ratio */
  }
}

  .scroll {
    padding-top: 25px;
    border-radius: 5px;
    width: 80px;
    height: 80px;
    cursor: pointer;
   
  }

  
  .myName {
    color: rgb(230, 230, 230);
    margin-top: 15px;
    text-align: center;
    font-size: x-large;
    font-family: 'PT Sans', sans-serif;
  
  }

  .skills {
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    padding: 8px;
  }
  