
.myContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
 
/* Default styling for larger screens */
.myImg {
  border-radius: 5px;
  width: 20vw;
  height: 100vh;
  object-fit: cover;
  border: 1px solid white;
}

/* Media query for medium screens */
@media (max-width: 1043px) {
  .myImg {
    width: 50%; /* Use 100% width on medium screens */
    height: 60%; /* Maintain aspect ratio */
  }
}

/* Media query for small screens */
@media (max-width: 576px) {
  .myImg {
    width: 80%; /* Use 100% width on small screens */
    height: 60%; /* Maintain aspect ratio */
  }
}

  .scroll {
    padding-top: 25px;
    border-radius: 5px;
    width: 80px;
    height: 80px;
    cursor: pointer;
   
  }

  
  .myName {
    color: rgb(230, 230, 230);
    margin-top: 15px;
    text-align: center;
    font-size: x-large;
    font-family: 'PT Sans', sans-serif;
  
  }

  .skills img {
    width: 50px; /* Set the desired width */
    height: 50px; /* Set the desired height */
    
  }

  .skills {
    
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    padding: 8px;
  }
  @media (min-width: 768px) {
    .skills {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .skills img {
      margin: 0.5rem;
    }
  }
  