
.custom-navbar {
   background-color: rgb(230, 230, 230);
  }
  
 
  .custom-navbar .nav-link {
    color: #000000; 

    
  }
  .custom-navbar .nav-link:hover {
    transform: scale(1, 1.02);
  }

  .custom-navbar .nav-link:hover {
    color: #7d7d7d; 
  }

  .svg-container {
    height: 30px;
    width: 70px;
  }