.sobre-mi-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
    padding-left: 20px;
    padding-right: 20px;

   
  }
  
  .sobre-mi-card {
  
    max-width: 100%; 
    width: 100%;
    background-color: rgb(12, 12, 12);
  }
  p{
    color: white;
  }
  
  .sobre-mi-title {
    font-size: 2em; 
    color: white;
  }
  
  .sobre-mi-text {
    font-size: 1.2em; 
    text-align: justify;
    
  }

  .buttonInfo {
    background-color: rgb(107, 219, 250);
    color: rgb(0, 0, 0);
    border: none;
 
    width: 50%;
    height: 50px;
  }

  .buttonInfo:hover {
    background-color: rgb(229, 229, 229);
    color: rgb(0, 0, 0);
    border: none;
    margin-top: 20px;
  }

  .modal-custom {
    width: 50%;
    text-align: center;
  }

  .modal_bg {
    opacity: 99%;
  }
  
.modal_title{
  text-align: center;
}

  /* Media query for medium and small screens */
  @media (max-width: 992px) {
    .modal-custom {
      width: 100%;
      
    }
  }
  

  .modal-body {
    
    max-height: calc(100vh - 200px); 
    overflow-y: auto; 
  }

  /* SobreMi.css */

/* Default styling for larger screens */
.sobre-mi-text {
  font-size: 20px;
}

/* Media query for medium screens */
@media (max-width: 768px) {
  .sobre-mi-text {
    font-size: 18px;
  }
}

/* Media query for small screens */
@media (max-width: 576px) {
  .sobre-mi-text {
    font-size: 18px;
  }
}